<!DOCTYPE html>
<html>
<head>
  <title>Myreplicator</title>
  <%= stylesheet_link_tag    "myreplicator/application", :media => "all" %>
  <%= javascript_include_tag "myreplicator/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
