/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@font-face{ 
  font-family: 'FrancoisOne';
     src: url('FrancoisOne.ttf');
}

@font-face{ 
	font-family: 'WebSymbolsRegular';
	src: url('websymbols-regular-webfont.eot');
	src: url('websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('websymbols-regular-webfont.woff') format('woff'),
	     url('websymbols-regular-webfont.ttf') format('truetype'),
	     url('websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
	}

/* reset css */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;}
ul {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;letter-spacing:1px;font-family:'FrancoisOne'; font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym {border:0;}
select, input, textarea {font:99% arial,helvetica,clean,sans-serif;}
pre, code {font:99% arial,helvetica,clean,sans-serif;line-height:16px;}
a {outline:0px;}
body { background:#fff; font-size:62.5%; font-family:Arial, Helvetica, sans-serif; }	
html { overflow-y:scroll;overflow-x:auto; }

#header {
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#333', endColorstr='#323232');
  background:-moz-linear-gradient(top,  #333,  #323232);
  background:-o-linear-gradient(top,  #333,  #323232);
  background:-webkit-gradient(linear, left top, left bottom, from(#333), to(#323232));    
  -moz-box-shadow: inset 0 0 10px rgba(0,0,0,0.8);
  -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.8);
  box-shadow: inset 0 0 10px rgba(0,0,0,0.8); 
  padding:10px 20px;	
}

#header h1 a { 
  color:#fff; 
  font-size:24px; 
  text-decoration:none; 
}
#header h1 a span { 
  font-family:'WebSymbolsRegular'; 
  padding-right:8px; 
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
#header h1 a:hover span {color:#ccc;}

#sub-header {
  background:#eee;
  border-bottom:1px solid #fff;
  border-top:1px solid #fff;
  -moz-box-shadow:0 0 5px rgba(0,0,0,0.5);
  -webkit-box-shadow:0 0 5px rgba(0,0,0,0.5);
  box-shadow:0 0 5px rgba(0,0,0,0.5); 
  margin:0 0 20px; 
  padding-left:20px;
  overflow:auto;
}

#sub-header a {
  color:#777; 
  display:block;
  float:left;
  font-family:'FrancoisOne'; 
  font-size:14px;
  font-weight:normal;
  letter-spacing:1px;
  margin:8px 15px 8px 0; 
  padding:3px 12px;
  text-decoration:none;
  text-shadow: 0 1px #f9f9f9;  
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;  
}

#sub-header a:hover {
  background: rgba(0, 0, 0, .04); 
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .55), inset 0 1px 1px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .55), inset 0 1px 1px rgba(0, 0, 0, .2);
  -o-box-shadow: 0 1px 0 rgba(255, 255, 255, .55), inset 0 1px 1px rgba(0, 0, 0, .2); 
  box-shadow: 0 1px 0 rgba(255, 255, 255, .55), inset 0 1px 1px rgba(0, 0, 0, .2);
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -o-border-radius: 999px;
  border-radius: 999px;
}

#sub-header a.active{
  background:#666;  
  background-image: -moz-linear-gradient(top, #555, #777);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #555),color-stop(1,#777));    
  color:#fff;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .87), inset 0 1px 3px rgba(0, 0, 0, .75);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .87), inset 0 1px 3px rgba(0, 0, 0, .75);
  -o-box-shadow: 0 1px 0 rgba(255, 255, 255, .87), inset 0 1px 3px rgba(0, 0, 0, .75);
  box-shadow: 0 1px 0 rgba(255, 255, 255, .87), inset 0 1px 3px rgba(0, 0, 0, .75);
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -o-border-radius: 999px;
  border-radius: 999px;
  text-shadow: 0 1px #111;
}
.home-menu {
  overflow:auto;
  padding-left:20px;
  margin-top:-10px;
}
.home-menu > span {
  color:#474747;
  display:block;
  float:left;
  font-family:'FrancoisOne'; 
  font-size:14px;
  font-weight:normal;
  letter-spacing:1px;
  margin:8px 15px 8px 0;  
  padding:3px 0 0; 
}
.home-menu a {
  color:#666; 
  display:block;
  float:left;
  font-family:'FrancoisOne'; 
  font-size:14px;
  font-weight:normal;
  letter-spacing:1px;
  margin:8px 15px 8px 0; 
  padding:3px 12px;
  position:relative;
  text-decoration:none;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;   
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -o-border-radius: 999px;
  border-radius: 999px;
}
.home-menu a:hover {
  background:rgba(0,0,0,0.02);
  text-shadow: 0 1px #f9f9f9;    
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .55), inset 0 1px 1px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .55), inset 0 1px 1px rgba(0, 0, 0, .2);
  -o-box-shadow: 0 1px 0 rgba(255, 255, 255, .55), inset 0 1px 1px rgba(0, 0, 0, .2); 
  box-shadow: 0 1px 0 rgba(255, 255, 255, .55), inset 0 1px 1px rgba(0, 0, 0, .2);  
}
.home-menu a.on {
  background:rgba(0,0,0,0.04);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .55), inset 0 1px 1px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .55), inset 0 1px 1px rgba(0, 0, 0, .2);
  -o-box-shadow: 0 1px 0 rgba(255, 255, 255, .55), inset 0 1px 1px rgba(0, 0, 0, .2); 
  box-shadow: 0 1px 0 rgba(255, 255, 255, .55), inset 0 1px 1px rgba(0, 0, 0, .2);  
  color:#474747;
  text-shadow: 0 1px #f9f9f9;  
}
.home-menu a:active {background:#e0e0e0;}
.home-menu a span {
  background:#990000;
  box-shadow:0 0 3px rgba(0,0,0,0.4);
  border-radius:999px;
  color:#fff;
  font-size:11px;
  font-weight:normal;
  height:13px;
  display:block;
  opacity:0;
  padding:0 0 3px 1px;
  position:absolute;
  top:-7px;
  right:-5px;
  text-align:center;
  text-shadow:1px 1px #333;
  width:13px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;     
}
.home-menu a.overview span {background:#1F6015;}
.home-menu a:hover span,
.home-menu a.on span {opacity:1;}
#sub-header a.active{
  background:#666;  
  background-image: -moz-linear-gradient(top, #555, #777);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #555),color-stop(1,#777));    
  color:#fff;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .87), inset 0 1px 3px rgba(0, 0, 0, .75);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .87), inset 0 1px 3px rgba(0, 0, 0, .75);
  -o-box-shadow: 0 1px 0 rgba(255, 255, 255, .87), inset 0 1px 3px rgba(0, 0, 0, .75);
  box-shadow: 0 1px 0 rgba(255, 255, 255, .87), inset 0 1px 3px rgba(0, 0, 0, .75);
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -o-border-radius: 999px;
  border-radius: 999px;
  text-shadow: 0 1px #111;
}


h2 {
  color:#474747;
  font-size:18px;
  text-shadow:0 1px #fff;
	margin:20px;
}

h6 {
  color:#474747;
  font-size:14px;
  font-weight:normal;
  text-shadow:0 1px #fff;
  margin:10px 5px;
}

form {margin:5px 20px;}
form div.form-section {
  width:400px;
  float:left;
}

form label {
  color:#474747;
  display:block;
  font-family:'FrancoisOne'; 
  font-size:14px;
  font-weight:normal;
  margin:5px 0;
  text-shadow:0 1px #fff;
}

form input {
  color:#777;
  font-size:12px;
  margin-bottom:15px;
  padding:5px 8px;
  width:250px;
}

form span.cron-label {
  clear:left;
  color:#777;
  display:block;
  float:left;
  font-size:12px;
  font-weight:bold;
  line-height:30px;
  width:65px;
}
form select {margin-bottom:15px; width:266px;}

form .actions {clear:both;padding-top:25px;}

button, .btn, form .actions input[type='submit'] {
  background-color:#ddd;
  background-image: -moz-linear-gradient(top, #fff, #ddd);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #fff),color-stop(1, #ddd));
  border:1px solid #ccc;
  border-radius:5px;
  color:#333;
  display:block;
  font-family:Arial, Helvetica, sans-serif;
  font-size:12px;
  font-weight:bold;
  letter-spacing:0px;
  margin:0 20px;
  padding:4px 8px;
  text-align:center;
  text-decoration:none;
  text-shadow:0 1px #fff; 
}
form .actions input[type='submit'] {
  float:left;
  margin:10px 0 20px;
  padding:6px 8px;
  text-transform:lowercase;
  width:inherit;
}
.btn {padding:5px 8px;}
button.left, .btn.left {float:left;}
button.right, .btn.right {float:right;}
.btn.action {margin-top:10px;}
button:hover, .btn:hover, form .actions input[type='submit']:hover {border:1px solid #888;}
button:active, .btn:active, form .actions input[type='submit']:active {
  background-color:#ddd;
  background-image: -moz-linear-gradient(top, #ddd, #fff);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ddd),color-stop(1, #fff));
  border:1px solid #ccc;  
  -moz-box-shadow:inset 0 0 3px rgba(0,0,0,0.2);
  -webkit-box-shadow:inset 0 0 3px rgba(0,0,0,0.2);
  box-shadow:inset 0 0 3px rgba(0,0,0,0.2);
}

.btn span {display:block;line-height:16px; padding-left:20px;}
.btn.edit span {background:url(gear.png) 0 50% no-repeat;}
.btn.add span {background:url(plus.png) 0 50% no-repeat;}
.btn.cancel span {background:url(cross.png) 0 50% no-repeat;}
#cron-val {
  border-bottom:1px solid #ddd;
  color:#474747;
  font-family:'FrancoisOne'; 
  font-size:18px;
  font-weight:normal;
  margin:0 0 15px; 
  padding:0 0 5px 5px;
  word-spacing:15px;
}
#cronwtf {
  color:#474747;
  font-family:'FrancoisOne'; 
  font-size:14px;
  font-style:italic;
  font-weight:normal;
  width:inherit;
}

div.flash {
  background:rgba(0,0,0,0.95);
  border-radius:10px;
  -moz-box-shadow:0 3px 5px rgba(0,0,0,0.8);
  -webkit-box-shadow:0 3px 5px rgba(0,0,0,0.8);
  box-shadow:0 3px 5px rgba(0,0,0,0.8);
  color:#fff;
  display:none;
  font-family: 'FrancoisOne';
  font-size:24px;
  font-weight:normal;
  line-height:32px;
  padding:20px 10px;
  position:absolute;
  text-align:center;
  top:40px;
  width:680px;
  z-index:110;
}

div.table-wrapper { margin:10px 20px; }

table.data-grid { font-size:12px; margin:10px 0; width:100%; }
table.data-grid thead tr,
#states-list thead tr{
  background-color:#ddd;
  background-image: -moz-linear-gradient(top, #fff, #ddd);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #fff),color-stop(1, #ddd));
}
table.data-grid th,
#states-list th {
  border:1px solid #ddd;
  color:#333;
  font-weight:bold;
  padding:5px 0 5px 10px;
  text-align:left;
  text-shadow:0px 1px #fff; 
}
#states-list th {padding:5px 10px;}
table.data-grid th.center, #states-list th.centered {text-align:center;}
table.data-grid th a { color:#333; display:block; text-decoration:none; }
table.data-grid th .current {
  background-image: -moz-linear-gradient(top, #333, #777);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #333),color-stop(1, #777));
  color:#fff;
  margin:-5px 0 -5px -10px;
  padding:5px 0 5px 10px;
  text-shadow:0 1px #333;
}

table.data-grid th a span {
  background-image: url(bg.gif);
  background-repeat: no-repeat;
  background-position: right center;  
  display:block;
  padding-right: 12px;   
}

table.data-grid th .asc span { background-image: url(desc-white.gif);}
table.data-grid th .desc span{ background-image: url(asc-white.gif);}

table.data-grid tbody tr:nth-child(even),
#states-list tbody tr:nth-child(even) {background:#f5f5f5;}

table.data-grid td,
#states-list td {
  border:1px solid #ddd;
  padding:8px 10px;
  white-space:nowrap;
}
#states-list td {width:225px;}
#states-list td + td {width:50px;}

table.data-grid td.state {border-right:0px;padding:4px 0 4px 5px;}
table.data-grid td.source {border-left:0px;padding:8px 10px 8px 0px;}
table.data-grid td span.status { display:block; height:16px; width:16px;}
table.data-grid td span.status.active {background:url(status.png) 50% 50% no-repeat;}
table.data-grid td span.status.inactive {background:url(status-busy.png) 50% 50% no-repeat;}

table.data-grid td a.action {color:#474747; display:block;font-weight:normal;float:left; line-height:16px; margin-right:20px; padding-left:20px; text-decoration:none;}
table.data-grid td a:hover {text-decoration:underline;}
table.data-grid td a.view {background:url(clipboard-list.png) 0 50% no-repeat;}
table.data-grid td a.edit {background:url(gear.png) 0 50% no-repeat;}
table.data-grid td a.delete {background:url(cross.png) 0 50% no-repeat; margin-right:0px;}

ul#export-review {
  color:#474747;
  font-size:12px;
  margin:0 20px;
  width:500px;
}

ul#export-review li {border-bottom:1px solid #eee; line-height:22px;padding:5px 0;}
ul#export-review li:last-child {border:0}
ul#export-review li span{ font-family:'FrancoisOne'; font-size:14px; font-weight:normal;}

div.pagination { margin:0 20px; overflow:auto; padding:0;}
div.pagination a,
div.pagination em.current,
div.pagination span.previous_page.disabled,
div.pagination span.next_page.disabled  {
    -moz-box-shadow:inset 0 1px 3px rgba(0,0,0,0.2);    
    -webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,0.2);
    box-shadow:inset 0 1px 3px rgba(0,0,0,0.2);    
    border-radius:3px;
    color: #333;
    cursor: pointer;
    font-family: 'FrancoisOne';
    font-size: 14px;
    font-weight:normal;
    line-height:19px;
    margin:0 5px 5px;
    padding:5px 10px 3px;
    text-decoration:none;
    text-shadow:0 1px #fff;
    width:inherit
}
div.pagination a,
div.pagination em.current,
div.pagination span.previous_page.disabled,
div.pagination span.next_page.disabled  {float:left;}

div.pagination span.gap {
    color: #333;
    display:block;
    float:left;
    font-family: 'FrancoisOne';
    font-size: 12px;
    font-weight:normal;
    margin:0 5px 5px;
    padding:5px 0;
}

div.pagination a:hover {
    background:rgba(0,0,0,0.02);
    -moz-box-shadow:inset 0 1px 3px rgba(0,0,0,0.3);
    -webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,0.3);
    box-shadow:inset 0 1px 3px rgba(0,0,0,0.3);
}

div.pagination a:active {
    background:#666;
    -moz-box-shadow:inset 0 0 5px rgba(0,0,0,0.8);
    -webkit-box-shadow:inset 0 0 5px rgba(0,0,0,0.8);    
    box-shadow:inset 0 0 5px rgba(0,0,0,0.8);
    color:#fff;
    text-shadow:0 1px #333;
}

div.pagination a.previous_page,
div.pagination a.next_page,
div.pagination span.previous_page.disabled,
div.pagination span.next_page.disabled  { font-family: 'WebSymbolsRegular'; line-height:17px;}
div.pagination a.previous_page,div.pagination span.previous_page.disabled { margin-left:3px;padding:5px 10px 5px 8px }
div.pagination a.next_page,div.pagination span.next_page.disabled { padding:5px 8px 5px 10px }
div.pagination em.current{ 
    background: #555;
    background: -moz-linear-gradient(top,  #525252 0%, #555 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#525252), color-stop(100%,#555));
    background: -webkit-linear-gradient(top,  #525252 0%,#555 100%);
    background: -o-linear-gradient(top,  #525252 0%,#555 100%);
    background: -ms-linear-gradient(top,  #525252 0%,#555 100%);
    background: linear-gradient(top,  #525252 0%,#555 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#525252', endColorstr='#555',GradientType=0 );
    -moz-box-shadow:inset 0 1px 3px rgba(0,0,0,1);    
    -webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,1);    
    box-shadow:inset 0 1px 3px rgba(0,0,0,1);    
    color:#fff;
    text-shadow:0 1px #333;
}

div.pagination span.previous_page.disabled,
div.pagination span.next_page.disabled {color:#bbb;}
div#pagination-display-message {
  color:#474747;
  font-family: 'FrancoisOne';
  font-size: 14px;
  font-weight:normal;
  line-height:19px;
  margin:8px 20px 10px;
  text-shadow:0 1px #fff;
}
/* error styles */
div.error-display {
    -moz-box-shadow:inset 0 0 3px rgba(0,0,0,0.2);    
    -webkit-box-shadow:inset 0 0 3px rgba(0,0,0,0.2);    
    box-shadow:inset 0 0 3px rgba(0,0,0,0.2); 
    font-size:12px;
    line-height:20px; 
    margin:8px 20px; 
    overflow:auto;
    padding:5px 8px;
}

div.error-display span {display:block;}
div.error-display span em {font-weight:bold;padding-right:3px;}
/* overview styles */
#overview-wrapper {overflow:auto;margin:10px 20px;padding:0}
#simple-wrapper { float:left; width:325px; }
#states-list {font-size:12px;margin:0;}
p.hint {color:#474747;font-size:12px;line-height:20px;margin:8px 5px;width:300px;}
#states-list a {
  color:#474747;
  display:block;
  font-weight:bold;
  text-decoration:none;
  text-transform:capitalize;
}
#states-list a:hover {color:#5D8457}
#states-list a.on:before {
  content: '>';
  font-family: 'WebSymbolsRegular';
  font-size:11px;
  padding-right:0.5em;
}
#states-list td.c {text-align:center;}
#states-tables {font-size:12px; margin-left:350px;}
#states-tables li {
  display:none;
  -moz-box-shadow:inset 0 0 3px rgba(0,0,0,0.2);    
  -webkit-box-shadow:inset 0 0 3px rgba(0,0,0,0.2);    
  box-shadow:inset 0 0 3px rgba(0,0,0,0.2);
  padding:10px 15px;
}
#states-tables li h4 {
  color:#474747;
  font-family:'FrancoisOne'; 
  font-size:14px;
  font-weight:normal;
  margin:0 0 10px;  
  text-transform:capitalize;
}

table.overview {
  width:100%;
}

table.overview td {
  border-bottom:1px solid #eee;
  font-size:12px;
  padding:5px 8px 5px 5px;
  text-shadow: 0 1px #fff;
  vertical-align:middle;
}
table.overview tr:nth-child(even) {background:#fbfbfb;}
table.overview tr:last-child td {border-bottom:0px;}
table.overview td span.name {color:#474747;display:block;font-weight:bold; font-size:13px;padding-bottom:5px;}
table.overview td span.file {color:#999;display:block;font-style:italic;}
a.kill {
  color:#474747;
  display:block;
  float:right;
  text-decoration:none;
  text-shadow:0 1px #fff;
}
a.kill:before {
  content: '`';
  font-family: 'WebSymbolsRegular';
  padding-right:3px;
  font-size:14px;
}
a.kill:hover:before {color:#990000}