/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@font-face{ 
  font-family: 'FrancoisOne';
     src: url('FrancoisOne.ttf');
}

@font-face{ 
	font-family: 'WebSymbolsRegular';
	src: url('websymbols-regular-webfont.eot');
	src: url('websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('websymbols-regular-webfont.woff') format('woff'),
	     url('websymbols-regular-webfont.ttf') format('truetype'),
	     url('websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
	}

/* reset css */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;}
ul {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;letter-spacing:1px;font-family:'FrancoisOne'; font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym {border:0;}
select, input, textarea {font:99% arial,helvetica,clean,sans-serif;}
pre, code {font:99% arial,helvetica,clean,sans-serif;line-height:16px;}
a {outline:0px;}
body { background:#fff; font-size:62.5%; font-family:Arial, Helvetica, sans-serif; }	
html { overflow-y:scroll;overflow-x:auto; }

#header {
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#333', endColorstr='#323232');
  background:-moz-linear-gradient(top,  #333,  #323232);
  background:-o-linear-gradient(top,  #333,  #323232);
  background:-webkit-gradient(linear, left top, left bottom, from(#333), to(#323232));    
  -moz-box-shadow: inset 0 0 10px rgba(0,0,0,0.8);
  -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.8);
  box-shadow: inset 0 0 10px rgba(0,0,0,0.8); 
  padding:10px 20px;	
}

#header h1 { color:#fff; font-size:24px; }
#header h1 span { font-family:'WebSymbolsRegular'; padding-right:8px; }

h2 {
  color:#474747;
  font-size:18px;
  text-shadow:0 1px #fff;
	margin:20px;
}
form {margin:5px 20px;}
form div.form-section {
  width:400px;
  float:left;
}

form label {
  color:#474747;
  display:block;
  font-family:'FrancoisOne'; 
  font-size:14px;
  font-weight:normal;
  margin:5px 0;
  text-shadow:0 1px #fff;
}

form input {
  color:#777;
  font-size:12px;
  margin-bottom:15px;
  padding:5px 8px;
  width:250px;
}

form select {margin-bottom:15px; width:266px;}

form .actions {clear:both;padding-top:25px;}

button, .btn, form .actions input[type='submit'] {
  background-color:#ddd;
  background-image: -moz-linear-gradient(top, #fff, #ddd);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #fff),color-stop(1, #ddd));
  border:1px solid #ccc;
  border-radius:5px;
  color:#333;
  display:block;
  font-family:Arial, Helvetica, sans-serif;
  font-size:12px;
  font-weight:bold;
  letter-spacing:0px;
  margin:10px 0;
  padding:4px 8px;
  text-align:center;
  text-decoration:none;
  text-shadow:0 1px #fff; 
}
form .actions input[type='submit'] {
  float:left;
  padding:5px 8px;
  width:inherit;
}
.btn {padding:5px 8px;}
.btn.main {margin:20px;}
button.left, .btn.left {float:left;}
button.right, .btn.right {float:right;}
button:hover, .btn:hover, form .actions input[type='submit']:hover {border:1px solid #888;}
button:active, .btn:active, form .actions input[type='submit']:active {
  background-color:#ddd;
  background-image: -moz-linear-gradient(top, #ddd, #fff);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ddd),color-stop(1, #fff));
  border:1px solid #ccc;  
  -moz-box-shadow:inset 0 0 3px rgba(0,0,0,0.2);
  -webkit-box-shadow:inset 0 0 3px rgba(0,0,0,0.2);
  box-shadow:inset 0 0 3px rgba(0,0,0,0.2);
}
#cron-val {
  border-bottom:1px solid #ddd;
  color:#474747;
  font-family:'FrancoisOne'; 
  font-size:18px;
  font-weight:normal;
  margin:0 0 15px; 
  padding:0 0 5px 5px;
  word-spacing:15px;
}
#cronwtf {
  color:#474747;
  font-family:'FrancoisOne'; 
  font-size:14px;
  font-style:italic;
  font-weight:normal;
  width:inherit;
}

