<div class="home-menu">
  <span>lists:</span>
  <a href="<%= root_url %>" class="<% if @option == 'overview' %>on<% end %>">overview</a>
  <a href="<%= errors_path %>" class="<% if @option == 'errors' %>on<% end %>">errors</a>
</div>